.DashboardProfildPage{
    width: 100%;
    height: 100lvh;
    user-select: none;
}
.DashboardProfildPage .MenuDashboard{
    flex: 1;
    height: 70PX;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20PX;
    padding-right: 20PX;
}
.DashboardProfildPage .logo{
    height: 40PX;
}
.DashboardProfildPage .BtnLogout{
    width: 170PX;
    height: 45PX;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 22PX;
    color: var(--colorBleu);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBleu2);
    color: var(--colorWhite);
    border-radius: 5PX;
}
.DashboardProfildPage .BtnLogout:hover{
    background-color: var(--colorBleu);
    color: var(--colorWhite);
}
.DashboardProfildPage .pageDashbord{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}
.DashboardProfildPage .menuLeft{
    width: 250PX;
    height: 100%;
    padding-left: 20PX;
    padding-right: 20PX;
    overflow: hidden;
}
.DashboardProfildPage .TitleMenuLeft{
    width: 100%;
    height: 60PX;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3PX solid black;
    color: black;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 30PX;
    margin-bottom: 30PX;
    margin-top: 20PX;
}
.DashboardProfildPage .BtnMenuLeft{
    width: 100%;
    height: 55PX;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3PX solid var(--colorWhite);
    color: var(--colorBleu);
    font-family: var(--font1);
    font-size: 30PX;
    color: var(--colorWhite);
    cursor: pointer;
    margin-top: 5PX;
    text-decoration: none;
}
.DashboardProfildPage .BtnMenuLeft:hover{
    background-color: var(--colorBleu);
    color: white;
    border-radius: 5PX;
    border-bottom: none;
}
.DashboardProfildPage .rightpage{
    flex: 1;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.activeBtn{
    background-color: var(--colorBleu);
    color: white;
    border-radius: 5PX;
    border-bottom: none;
}


/* -------------------------- */
.DashboardProfildPage .topRightpage {
    flex: 1;
    height: 220px; 
    display: flex; 
    overflow-x: auto; 
    overflow-y: hidden; 
    align-items: center;
    justify-content: center;
}
.DashboardProfildPage .topRightpageCenter {
    flex: 1;
    height: 220px; 
    display: flex; 
    padding-left: 20px; 
    padding-right: 20px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    max-width: 900PX;
    align-items: center;
}
.DashboardProfildPage .topRightpageCenter::-webkit-scrollbar {
    height: 0px;
}
.DashboardProfildPage .topRightpageItem {
    width: 320px; 
    height: 180px; 
    border-radius: 10px; 
    margin-right: 10px; 
    flex-shrink: 0; 
    flex-grow: 0; 
    box-sizing: border-box; 
    background: linear-gradient(20deg,var(--colorBleu),var(--colorBleu3));
    overflow: hidden;
    padding: 20PX;
    cursor: pointer;
}
.DashboardProfildPage .topRightpageItem:hover{
    transform: scale(1.02);
}
.DashboardProfildPage .GrafPlace {
    flex: 1;
    height: fit-content; 
    display: flex;
    justify-content: center;
    margin-top: 20PX;
}
.DashboardProfildPage .GrafPlaceCenter {
    flex: 1;
    height: 280PX; 
    max-width: 900PX;
    padding-left: 20PX;
    padding-right: 20PX;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.DashboardProfildPage .Graf {
    width: 400px; 
    height: 200PX; 
    border-radius: 10PX;
    display: flex;
    justify-content: center;
    padding: 20PX;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}
.DashboardProfildPage .TitleMenu {
    width: 100%;
    height: 60PX;
    color: var(--colorBleu);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 25PX;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20PX;
    margin-bottom: 30PX;
}
.DashboardProfildPage .TitleTopRightpageItem {
    flex: 1;
    height: 40PX;
    border-left: 3PX solid white;
    font-family: var(--font1);
    font-weight: bold;
    color: white;
    font-size: 25PX;
    display: flex;
    align-items: center;
    padding-left: 20PX;
    margin-top: 15PX;
}
.DashboardProfildPage .NumberTopRightpageItem {
    flex: 1;
    height: 60PX;
    font-family: var(--font1);
    font-weight: bold;
    color: white;
    font-size: 40PX;
    display: flex;
    align-items: end;
    margin-top: 20PX;
}
.DashboardProfildPage .sousName {
    font-size: 25PX;
    margin-left: 10PX;
}
